<title><%= title %></title>

<script src='js/build/<%= name %>.js'></script>
<link rel='stylesheet' href='/css/build/<%= name %>.css' />

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script src='/socket.io/socket.io.js'></script>
-->


