<!DOCTYPE html>
<html>

  <head>
    <% include ./head %>
  </head>

  <body>
    <% include ./navbar %>

        <div class="container">

    <form action="/submit" method="post">
      <h2 >Submit a new post</h2>
      <br />
      Title<br />
      <input type="text" name="title" size="50" required autofocus><br /><br />
      Url (optional)<br />
      <input type="text" name="url" size="50"><br /><br />
      Text (optional)<br />
      <textarea rows="4" cols="50" name="text"></textarea><br /><br />
      Forum<br />
      <select>
      <optgroup>
        <option value="pics">This</option>
        <option value="funny">Is</option>
        <option value="bitcoin">Still</option>
        <option value="audi">Todo</option>
        </optgroup>
      </select><br /><br />


      <button type="submit">submit</button>
    </form>

    </div>

<!--
        <div class="container">

              <form class="form-submit" action="/submit" method="post">
                <h2 class="form-submit-heading">Submit a new post</h2>
                <input type="text" class="submitTitle" name="title" placeholder="title" required autofocus>
                <input type="text" class="submitUrl" name="url" placeholder="url (optional)">
                <input type="text" class="submitText" name="text" placeholder="text (optional)">

                <button class="btn btn-lg btn-default btn-block" type="submit">submit</button>
              </form>

              </form>

        </div>


-->



  </body>

</html>
















