
button, input, select, optgroup, textarea {
  padding: 5px;
  margin: 5px 0 0;
  width: 100%;
  font-size: inherit;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

button, input, select, optgroup {
  height: 30px;	
}

textarea {
	border-color: #EEEEEE;
}


