button {
  width: 200px;
  height: 50px;
  font-size: inherit;
}

input, textarea, select, optgroup {
	padding: 5px;
	margin: 5px 0px;
	width: 400px;
	font-size: inherit;
}

textarea {
	border-color: #EEEEEE;
}
